
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sangram</title>


    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/blog.css') }}">

    <!-- jQuery library 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- Javascript file -->
    <script type="text/javascript" src="{{url_for('static', filename='js/explore.js')}}" ></script>

    <!--Setting Parameters-->
    <script type="text/javascript">set_parameters('{{category}}','{{country}}')</script>
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          
          <div class="col-2 d-flex justify-content-end  align-items-center">
            <a class="blog-header-logo text-dark" href="#">Logo</a>
          </div>
           <div class="col-4">
            
          </div>

          <div class="col-4 d-flex justify-content-end align-items-center" >
          	<input type="text" id="search_articles">
          	
          	<a class="text-muted" href="#" onclick="search_articles()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>

            
          	Country 
          	<select id="country_drop_down" onchange="load_country()">
          		{% for code in country_codes %}
          			{% if code == country %}
				        <option value={{code}} selected>{{code}}</option>
				    {% else %}
				        <option value={{code}}>{{code}}</option>
				    {% endif %}
          		{% endfor %}
          	</select>
      

          </div>
          <div  class="col-1 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="http://127.0.0.1:5000/login">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
        	
	      	<a class="pointer" href="http://127.0.0.1:5000/explore" class="p-2 text-muted">Home</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('business')">Business</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('entertainment')">Entertainment</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('health')">Health</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('science')">Science</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('sports')">Sports</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('technology')">Technology</a>
        </nav>
      </div>


  <div>
  	<!--Carousel Wrapper-->
	<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
	  <!--Indicators-->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-2" data-slide-to="1"></li>
	    <li data-target="#carousel-example-2" data-slide-to="2"></li>
	  </ol>
	  <!--/.Indicators-->
	  <!--Slides-->
		  <div class="carousel-inner" role="listbox">
		    <div class="carousel-item active">
		      <div class="view">
		        <img class="d-block w-100" style="max-height:300px " src="alt={{slide[0].urlToImage}}"
		          alt={{slide[0].title}}>
		        <div class="mask rgba-black-light"></div>
		      </div>
		      <div class="carousel-caption">
		        <h3 class="h3-responsive">Light mask</h3>
		        <p>First text</p>
		      </div>
		    </div>
		    <div class="carousel-item">
		      <!--Mask color-->
		      <div class="view">
		        <img class="d-block w-100"  style="max-height:300px "  src="{{slide[1].urlToImage}}" alt={{slide[1].title}}>
		        <div class="mask rgba-black-strong"></div>
		      </div>
		      <div class="carousel-caption">
		        <h3 class="h3-responsive">Strong mask</h3>
		        <p>Secondary text</p>
		      </div>
		    </div>
		    <div class="carousel-item">
		      <!--Mask color-->
		      <div class="view">
		        <img class="d-block w-100"  style="max-height:300px "  src="{{slide[2].urlToImage}}" alt={{slide[2].title}}>
		        <div class="mask rgba-black-slight"></div>
		      </div>
		      <div class="carousel-caption">
		        <h3 class="h3-responsive">Slight mask</h3>
		        <p>Third text</p>
		      </div>
		    </div>
		  </div>
	  <!--/.Slides-->
	  <!--Controls-->
	  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	  <!--/.Controls-->
	</div>
	<!--/.Carousel Wrapper-->
  </div>
 
<hr>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          
        <div class="blog-post" id="blog-post">

        	<!--loop for top news will goes here-->
        	
    		{% for item in data %}
	    		<script type="text/javascript">increment_posts()</script>
	           	<div class="row mb-2">
			       	<div class="col-md-12">
			        	<div class="card flex-md-row mb-4 box-shadow h-md-200">

				            <div class="card-body d-flex flex-column align-items-start">
				              	<h3 class="mb-0">{{item.title}}</h3>
				              	<div class="mb-1 text-muted">{{item.publishedAt}}</div>
				              	<a href={{item.url}}>Continue reading</a>
				            </div>

			            <img class="card-img-right flex-auto d-none d-md-block" width="200px" height="150px" src="{{item.urlToImage}}" alt="Card image cap">
			          </div>
			        </div>
	      		</div>
	      	
            {% endfor %}
			
          </div><!-- /.blog-post -->

          <div>
          	<button id="load_more" onclick="load_more()">Load More</button>
          </div>


          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Like</a>
            <a class="btn btn-outline-secondary disabled" href="#">Dislike</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>

	        <div class="p-3" style="background-color: #f8f9fa">
	        	<h4 class="font-italic">News feeds list</h4>
	            <div class="row">
	       		<div class="col-md-12">
	        		<div class="card flex-md-row mb-4 box-shadow h-md-100">

			            <div class="card-body d-flex flex-column align-items-start">
			              <p class="mb-0">
			                <a class="text-dark" href="#">Featured post</a>
			              </p>
			              <a href="#">Continue reading</a>
			            </div>

		           		<img class="card-img-right flex-auto d-none d-md-block" width="100px" height="100px" src="../img/2.jpeg" alt="Card image cap">
	         		</div>
	       		</div>
      			</div>

      			<div class="row">
	       		<div class="col-md-12">
	        		<div class="card flex-md-row mb-4 box-shadow h-md-100">

			            <div class="card-body d-flex flex-column align-items-start">
			              <p class="mb-0">
			                <a class="text-dark" href="#">Featured post</a>
			              </p>
			              <a href="#">Continue reading</a>
			            </div>

		           		<img class="card-img-right flex-auto d-none d-md-block" width="100px" height="100px" src="../img/2.jpeg" alt="Card image cap">
	         		</div>
	       		</div>
      			</div>

      			<div class="row">
	       		<div class="col-md-12">
	        		<div class="card flex-md-row mb-4 box-shadow h-md-100">

			            <div class="card-body d-flex flex-column align-items-start">
			              <p class="mb-0">
			                <a class="text-dark" href="#">Featured post</a>
			              </p>
			              <a href="#">Continue reading</a>
			            </div>

		           		<img class="card-img-right flex-auto d-none d-md-block" width="100px" height="100px" src="../img/2.jpeg" alt="Card image cap">
	         		</div>
	       		</div>
      			</div>
	   		</div>

          </div>

         
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

<br>
<br>
      <footer class="blog-footer text-center" style="background-color: #f8f9fa;padding: 10px;">
      <p>Add footer here or commom</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	-->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    
  </body>
</html>
