
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sangram</title>


    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="../css/blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Logo</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            
            <a class="btn btn-sm btn-outline-secondary" href="http://127.0.0.1:5000/login">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
	      	<a class="pointer" href="http://127.0.0.1:5000/explore" class="p-2 text-muted">Home</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('business')">Business</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('entertainment')">Entertainment</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('health')">Health</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('science')">Science</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('sports')">Sports</a>
	      	<a class="pointer" href="#" class="p-2 text-muted" onclick="load_category('technology')">Technology</a>
        </nav>
      </div>

       <div class="jumbotron p-3 p-md-5 text-white" style="background-image: url({{urlToImage}});">

        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{title}}</h1>
          
        </div>
      </div>

    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          
          <div class="blog-post">
            <h2 class="blog-post-title">{{source}}</h2>
            <p class="blog-post-meta">{{publishedAt}}<a href="#">{{author}}</a></p>

            <p>
              {{description}}
            </p>

            
          </div><!-- /.blog-post -->


          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Like</a>
            <a class="btn btn-outline-secondary disabled" href="#">Dislike</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>

          <div class="p-3" style="background-color: grey">
            <h4 class="font-italic">News feeds list</h4>
            
          </div>

         
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
<br>
<br>
      <footer class="blog-footer text-center" style="background-color: #f8f9fa;padding: 10px;">
      <p>Add footer here or commom</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">

    </script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    
  </body>
</html>
