
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sangram</title>


    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="../css/blog.css" rel="stylesheet">
  </head>

  <body style="background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;">

    <div class="container" >
      <header class="blog-header py-3" style="line-height: 1; border-bottom: 1px solid #e5e5e5;">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-2 d-flex justify-content-end  align-items-center">
            <a class="blog-header-logo" href="#" style="color: white;font-size: 30px"> Logo</a>
          </div>
          
          <div  class="col-1 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm" style="color: white;background-color: #000804" href="http://127.0.0.1:5000/login">Sign up</a>
          </div>
        </div>
      </header>

<br>
      <div class="nav-scroller py-1 mb-2" style="line-height: 1; border-bottom: 1px solid #e5e5e5;">
        <nav class="nav d-flex justify-content-between" >
          
          <a style="color: white" class="pointer" href="http://127.0.0.1:5000/explore" class="p-2 text-muted">Home</a>
          <a style="color: white" class="pointer" href="#" class="p-2 text-muted" onclick="load_category('business')">Business</a>
          <a style="color: white" class="pointer" href="#" class="p-2 text-muted" onclick="load_category('entertainment')">Entertainment</a>
          <a style="color: white" class="pointer" href="#" class="p-2 text-muted" onclick="load_category('health')">Health</a>
          <a style="color: white" class="pointer" href="#" class="p-2 text-muted" onclick="load_category('science')">Science</a>
          <a style="color: white" class="pointer" href="#" class="p-2 text-muted" onclick="load_category('sports')">Sports</a>
          <a style="color: white" class="pointer" href="#" class="p-2 text-muted" onclick="load_category('technology')">Technology</a>
        </nav><br>
      </div>


       <div class="jumbotron p-3 p-md-5 text-white" style="background-image: url({{urlToImage}});">

        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{title}}</h1>
          
        </div>
      </div>

    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main" style="color: white">
          
          <div class="blog-post">
            <h2 class="blog-post-title">{{source}}</h2>
            <p class="blog-post-meta">{{publishedAt}}<a href="#">{{author}}</a></p>

            <p>
              {{description}}
            </p>

            
          </div><!-- /.blog-post -->

<br>
          <nav class="blog-pagination text-center">
            <a class="btn btn-primary" href="#">Like</a>
            <a class="btn btn-danger disabled" href="#">Dislike</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
           <a class="weatherwidget-io" href="https://forecast7.com/en/19d0872d88/mumbai/" data-label_1="MUMBAI" data-label_2="WEATHER" data-theme="marine" >MUMBAI WEATHER</a>

          </div>

        

         
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
<br>
<br>
      <footer class="blog-footer text-center" style="background-color: black;padding: 10px;">
      <p>Add footer here or commom</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">

    </script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
    
  </body>
</html>
