<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/login.css') }}">
        <!-- Javascript file -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.10.2.min.js')}}" ></script>
    <!-- Javascript file -->
    <script type="text/javascript" src="{{url_for('static', filename='js/login.js')}}" ></script>
    
    </head>
    <body>
        <div id="box">
            <div id="main"></div>
                       
            <div id="signupform">
                <form action="/register" method="POST">
                    <h1>SIGN UP</h1>
                    <input  name="name" type="text" placeholder="Full Name"/><br>
                    <input  name="u_id" type="text" placeholder="User Name"/><br>
                    <input name="password" type="password" placeholder="Password"/><br>
                    <input  name="mobile" type="text" placeholder="Mobile"/><br>
                    <button name="signup" value="signup">SIGN UP</button>
                </form>
            </div>
            
            <div id="login_msg">Have an account?</div>
            <div id="signup_msg">Don't have an account?</div>
            
            <button id="login_btn">LOGIN</button>
            <button id="signup_btn">SIGN UP</button>
            
            
        </div>
    </body>
</html>